<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<nav class="navbar">
  <a class="navbar-brand" href="#" style="left:-200px">PRAN VEG TRADING CO.(EXPORT MART)</a>
  
  <p class="mobile">MOBILE:8285468660</p>
 
 
  
  

  </nav>
  <div class="transparent">
      <h1 class="contact-text">CONTACT US</h1>
  <div class="contactimg">
    
        <img  id="image1"class="d-block w-100" style="height:500px" [src]="image">
       
    </div>
    </div>
    <h5 class="h5"><strong>CONTACT</strong></h5><br>
    <blockquote><h1 class="contact-head"><strong>PRAN VEG TRADING CO.</strong></h1></blockquote>
    <i style='font-size:24px' class='fas'>&#xf3c5;</i> <p class="contact-loc" > 83,SATHIYA,TEHSIL-SASNI,<br>
  DISTRICT-HATHRAS,SASNI<br>Uttar Pradesh 204216</p>
  <i style='font-size:24px' class='fas'>&#xf3cd;</i><p class="contact-loc">Phone: 8285468660</p>
  <i style="font-size:24px" class="fa">&#xf0e0;</i> <p class="contact-loc">
        Email:pranveg19@gmail.com</p>
        <img  class="map"src="assets/image/map.png" height="400px" width="800px">
        
        <div class="footer">
        <hr>
        <h3 class="company"><strong>PRAN VEG TRADING CO.</strong> </h3><h1 class="postaddress">Postaddress</h1> <h1 class="contact2">Contact</h1><h1 class="certified">Certified</h1>
       <p class="postaddress2"> 83,SATHIYA,TEHSIL-SASNI,<br>
        DISTRICT-HATHRAS,SASNI<br>Uttar Pradesh 204216</p><br>
       


        <p class ="contact3"><strong>mobile</strong><br> 8285468660<br><strong>Email</strong><br>pranveg19@gmail.com</p>
        <img  class="logo" src="assets/image/logo.png">
        <p class="solid">&copy;2019-Pran veg Trading co.|All Right Reserved</p>
    </div>
    